#logo_container{
    align-items: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    }
#root_background{
    background-image: url(../img/background.jpg);
    display: flex;
    
}
