body {
    background-color: #85FFBD;
    background:fixed image(url(../img/background.jpg));

    #root_background{
        background-color: white;
    }
}

#logo0{
    background-image: url(../img/logo.svg);
    display: block;
}