#logo_container {
    align-items: center;
    display: flex;
    justify-content: center;

}

#root_background {
    background-image: url(../img/background.jpg);
    display: flex;

}

#logo_pic{
    display: flex;
    flex-wrap: wrap;
}
