/*LISTAS DE SERVICIOS en SITIO SERVICIOS - CONTENT*/

#servicio {
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
}

/*CUADRO DE ELECCION DE TEMPORADA*/

#container_season_choose {
    display: inline-block;
    width: fit-content;
    align-items: center;
    justify-content: center;
}


/*INDEX CONTENT RELATED*/

#nosotros0 {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
}

.popup_window {
    @include border-custom(solid, 200px 200px, red)
}

/*FORMA CONTACTO*/

.form-control-sm {
    width: 50%;

}