/*HEADER ONLY LOGO*/
header {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-evenly;

}

#logo_container_text {
    align-items: center;

    display: flex;
    justify-content: center;
    color: azure;


    code:nth-child(1) {
        color: transparent;
        -webkit-text-stroke: 2px #03a9f4;
    }

    code:nth-child(2) {
        color: #03a9f4;
        animation: animate2 4s ease-in-out infinite;
    }
}

@keyframes animate2 {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.dynamic-text-shadow {
    text-shadow: 1em, 2em, 1, hsl(200, 50%, 30%);
    font-weight: 900;
    line-height: 1.1;
    max-inline-size: 15ch;
}

.text_options {
    color: antiquewhite;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(43, 43, 180), 0 0 0.2em rgb(43, 43, 180);
    font-size: 3rem;
}

.text_options_below {
    color: antiquewhite;
    text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(43, 43, 180), 0 0 0.2em rgb(43, 43, 180);
    font-size: 1rem;
}

#text_logo {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg,
            #2f235a 0%,
            #0b5718 29%,
            #dbdfd7 67%,
            #1d1f07 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    align-self: flex-start;

    background-clip: text;

    -webkit-background-clip: text;
    animation: textclip 10s linear infinite;
}

#pre_sun {
    align-self: center;
    width: fit-content;
}

.sun {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: white;
    opacity: 0.9;
    box-shadow: 0px 0px 40px 15px white;
}

.ray_box {
    margin: auto;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 70px;
    -webkit-animation: ray_anim 120s linear infinite;
    animation: ray_anim 120s linear infinite;
}

.ray {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    margin-left: 10px;
    border-radius: 80% 80% 0 0;
    position: absolute;
    opacity: 0.1;
}

.ray1 {
    height: 170px;
    width: 30px;
    transform: rotate(180deg);
    top: -175px;
    left: 15px;
}

.ray2 {
    height: 100px;
    width: 8px;
    transform: rotate(220deg);
    top: -90px;
    left: 75px;
}

.ray3 {
    height: 170px;
    width: 50px;
    transform: rotate(250deg);
    top: -80px;
    left: 100px;
}

.ray4 {
    height: 120px;
    width: 14px;
    transform: rotate(305deg);
    top: 30px;
    left: 100px;
}

.ray5 {
    height: 140px;
    width: 30px;
    transform: rotate(-15deg);
    top: 60px;
    left: 40px;
}

.ray6 {
    height: 90px;
    width: 50px;
    transform: rotate(30deg);
    top: 60px;
    left: -40px;
}

.ray7 {
    height: 180px;
    width: 10px;
    transform: rotate(70deg);
    top: -35px;
    left: -40px;
}

.ray8 {
    height: 120px;
    width: 30px;
    transform: rotate(100deg);
    top: -45px;
    left: -90px;
}

.ray9 {
    height: 80px;
    width: 10px;
    transform: rotate(120deg);
    top: -65px;
    left: -60px;
}

.ray10 {
    height: 190px;
    width: 23px;
    transform: rotate(150deg);
    top: -185px;
    left: -60px;
}


@keyframes ray_anim {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}