/*NAVBAR RELATED INCLUDING FOOTER NAVBAR*/

#nav_bar {
    --bs-nav-pills-border-radius: 1px;
    --bs-nav-pills-link-active-color: white;
    --bs-nav-pills-link-active-bg: black;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: black;
    --bs-nav-link-hover-bg-color: white;
    --bs-nav-link-hover-color: black;
    text-align: center;
    justify-content: center;
    font-size: larger;

}

/*LOGO RELATED*/


