@media screen and (max-width: 491px) {

    #logo_container {
        //background-image: url(../img/text_only_logo.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position-x: center;
        background-size: auto;
        padding-bottom: 20px;

    }

    header {
        justify-items: center;
        align-self: center;

    }        
    
    #pre_snow {
        align-self: center;
        width: fit-content;
    }
    
    #pre_sun {
        align-self: center;
        width: fit-content;
        margin-left: 200px;
    }
    
    form {
        font-size: x-small;
        color: map-get($social_media, color);
    }
}

@media screen and (min-width: 492px) {

    #logo_container {

        background-image: url(../img/text_only_logo.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position-x: center;
    }
}