@media screen and (max-width: 480px) {

    #logo_container {
        background-image: url(../img/new_logo_small.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position-x: center;
        background-size: auto;
        padding-bottom: 20px;

    }

    form {
        font-size: x-small;
        color: map-get($social_media, color);
    }
}

@media screen and (min-width: 481px) {

    #logo_container {

        background-image: url(../img/new_logo3.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position-x: center;
    }
}