$social_media: (
    send-mail: red,
    facebook: blue,
    twitter: lightblue,
);

@each $social_media, $color in $social_media{
    .btn--#{$social_media}{
        background-color: $color;
}
}

@mixin border-custom($border-style,$border-width,$border-color){
    border-style: $border-style;
    border-width: $border-width;
    border-color: $border-color;

}