/*WHOLE DOC RELATED */
body {
  background-color: #85FFBD;
  background-image: linear-gradient(180deg, #1c440d 0%, #2f2f11 100%); }
  body div {
    background-color: white; }

/*NAVBAR RELATED*/
#nav_bar {
  --bs-nav-pills-border-radius: 1px;
  --bs-nav-pills-link-active-color: white;
  --bs-nav-pills-link-active-bg: black;
  --bs-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-weight: ;
  --bs-nav-link-color: black;
  --bs-nav-link-hover-bg-color:white;
  --bs-nav-link-hover-color:black;
  text-align: center;
  justify-content: center;
  font-size: larger; }

/*LISTAS DE SERVICIOS en SITIO SERVICIOS - CONTENT*/
#servicio {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }
  #servicio .card-body {
    text-align: center;
    justify-content: center; }

/*INDEX CONTENT RELATED*/
#nosotros0 {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

div.elem-group {
  margin: 20px 0; }

div.elem-group.inlined {
  width: 49%;
  display: inline-block;
  float: left;
  margin-left: 1%; }

label {
  display: block;
  font-family: "Nanum Gothic";
  padding-bottom: 10px;
  font-size: 1.25em; }

input,
select,
textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: "Nanum Gothic";
  width: 100%;
  padding: 10px; }

div.elem-group.inlined input {
  width: 95%;
  display: inline-block; }

textarea {
  height: 250px; }

hr {
  border: 1px dotted #ccc; }

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: "Nanum Gothic";
  border-radius: 4px;
  cursor: pointer; }

button:hover {
  border: 2px solid black; }
